<IfModule mod_rewrite.c>?
    Options -Multiviews
    RewriteEngine on
    RewriteBase /develop-api/public
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.+)$ index.php?params=$1 [QSA,L]
</IfModule>